# Data folders
# data/
chroma*/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.*env

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.env
